* {
    box-sizing: border-box;
}

body {
    font-size: 1em;
}

button:hover {
    cursor: pointer;
}

h1, h2 {
    font-family: Geneva;
}

h1 {
    color: white;
}

p {
    font-family: Roboto;
    line-height: 22px;
}

.page-home > .section-one {
    padding: 20px;
    background-color: lightgrey;
}

.page-home > p {
    font-size: 18px;
    color: white;
}

.page-home > .section-two {
    padding: 40px;
    color: white;
}

.page-home > .section-two > h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-one > h2 {
    color: #041724;
}

.section-split {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-split > a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid #14b0c2;
    background-color: #14b0c250;
    color:white;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.199) 3px 3px;
    font-size: 22px;
    text-decoration: none;
}

.section-split > a:hover {
    background-color:  #ff7b00;
    color: black;
}

.rel {
    position: relative;
}

@media only screen and (min-width: 600px) {
    p {
        font-size: 20px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }
    
    .page-home > .section-one {
        padding: 30px;
    }
    
    .section-split {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (min-width: 1024px) {
    h1, h2 {
        font-family: Geneva;
    }
    
    h1 {
        color: white;
        font-size: 96px;
    }

    h2 {
        font-size: 48px;
    }
    
    p {
        font-family: Roboto;
        line-height: 24px;
    }
    
    .page-home > .section-one {
        padding: 40px;
    }
    
    .page-home > p {
        font-size: 22px;
    }
    
    .page-home > .section-two > h2 {
        font-size: 36px;
    }
    
    .section-split {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .section-split > a {
        width: 400px;
        height: 200px;
    }

    .section-split > a > p {
        font-size: 36px;
    }    
}