.category-header {
    display: flex;
	flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    border-top: 3px solid #ff7b00;
    border-bottom: 1px solid #ff7b00;
    background-color: #ff7b0050;
    color: white;
    margin-top: 10px;
}

.category-header > h3 {
    font-size: 30px;
    margin: 20px 0px 20px 20px;
    width: 80%;
    display: flex;
    align-self: flex-start;
    text-align: left;
}

.category-header > .icon {
    width: 10%;
    display: flex;
    align-self: flex-end;
} 

.course-header {
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 20px;
    color: #ff7b00;
}

.course-association {
    margin: 5px;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid #ff7b00;
}

.course-section {
    padding: 10px;
}

.category-section {
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index: 20;
}

.course-description {
    font-size: 18px;
    padding: 10px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid  #ff7b00;
}

.course-code {
    font-size: 18px;
}

.connections-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.connections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.App-list {
    z-index: 10;
}

.list-courses {
    color: white;
}

.nav-bar {
    z-index: 200;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .category-section > h3 {
        font-size: 30px;
    }

    .course-header {
        font-size: 24px;
    }

    .course-section p {
        font-size: 22px;
    }

    .course-description {
        padding-bottom: 30px;
    }
}